html {
  height: 100%; }
  html body {
    height: 100%;
    width: 100%;
    position: absolute; }
    html body .chat {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap; }
      html body .chat .welcome {
        padding-left: 3rem;
        flex: none; }
      html body .chat .messages {
        flex: 1;
        margin-bottom: 3rem; }
      html body .chat .send {
        flex: 0 0 4rem;
        background-color: #aaa; }
        html body .chat .send .full-height {
          height: 100%; }
          html body .chat .send .full-height .full-height-change {
            height: 100%;
            display: inline-block; }
