html {
  height: 100%; }
  html body {
    height: 100%;
    width: 100%;
    position: absolute; }
    html body .chat .welcome {
      padding-left: 3rem;
      padding-right: 3rem;
      position: fixed;
      top: 0;
      width: 100%; }
    html body .chat .messages {
      margin-bottom: 5rem;
      font-size: 1.7rem;
      list-style-type: none;
      padding-left: 0;
      position: fixed;
      bottom: 0;
      z-index: -1; }
    html body .chat .send {
      position: fixed;
      height: 4rem;
      bottom: 0;
      background-color: #aaa; }
      html body .chat .send .full-height {
        height: 100%; }
        html body .chat .send .full-height .full-height-change {
          display: inline-block;
          height: 100%; }
